# Assignment Day 16-17

In [3]:
%matplotlib inline
import pandas as pd

from IPython.core.display import HTML<br>
css = open('style-table.css').read() + open('style-notebook.css').read(<br>
HTML('<style>{}</style>'.format(css))<br>

In [50]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [5]:
 rd= pd.read_csv('data/release_dates.csv')
rd.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

In [6]:
cast= pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [15]:
data=titles.title.count()
print(data,"movies are listed in the the titles dataframe")

244914 movies are listed in the the titles dataframe

### What are the earliest two films listed in the titles dataframe?

In [20]:
data=titles.sort_values("year").head(2)
print(" Earliest two films listed in the titles dataframe are :\n\n",data)

 Earliest two films listed in the titles dataframe are :

                      title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [25]:
data=titles[titles["title"]=="Hamlet"]["title"].count()
print(data, "number of movies have title 'Hamlet'")

20 number of movies have title 'Hamlet'

### How many movies are titled "North by Northwest"?

In [30]:
data=len(titles[titles.title=="North by Northwest"])
print(data, "number of movies have title 'North by Northwest' ")

1 number of movies have title 'North by Northwest'

### When was the first movie titled "Hamlet" made?

In [36]:
data=titles[titles.title=="Hamlet"].sort_values("year").head(1)
print(" first movie titled Hamlet was  made are as follow:\n\n",data)

 first movie titled Hamlet was  made are as follow:

         title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [37]:
data=titles[titles.title=="Treasure Island"].sort_values("year")
print(" List all of the Treasure Island movies from earliest to most recent are as follow:\n\n",data)

 List all of the Treasure Island movies from earliest to most recent are as follow:

                   title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [40]:
data=len(titles[titles.year==1950])
print( data,"are the movies which were made in the year 1950")

1113 are the movies which were made in the year 1950

### How many movies were made in the year 1960?

In [51]:
data=len(titles[titles.year==1960])
print( data,"are the movies which were made in the year 1950")

1549 are the movies which were made in the year 1950

### How many movies were made from 1950 through 1959?

In [44]:
data=len(titles[(titles.year>=1950)&(titles.year<=1959)])
print( data,"are the movies which were made  from 1950 through 1959")

12934 are the movies which were made  from 1950 through 1959

### In what years has a movie titled "Batman" been released?

In [47]:
data=titles[titles.title == "Batman"].year.to_list()
print(data,"are the years when  a movie titled 'Batman' been released")

[1943, 1989] are the years when  a movie titled 'Batman' been released

### How many roles were there in the movie "Inception"?

In [7]:
data=len(cast[cast.title == "Inception"].character)
print(data,"are roles were there in the movie Inception")

78 are roles were there in the movie Inception

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [14]:
data=(len(cast[cast.n == 0.0][cast.title == "Inception"].character))
print(data,"roles in the movie Inception are NOT ranked by an n value")

0 roles in the movie Inception are NOT ranked by an n value

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

### But how many roles in the movie "Inception" did receive an "n" value?

In [15]:
data=(len(cast[cast.n != 0.0][cast.title == "Inception"].character))
print(data,"roles in the movie Inception are  ranked by an n value")

78 roles in the movie Inception are  ranked by an n value

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [16]:
data=cast[cast.title == 'North by Northwest'].dropna(axis=0).sort_values('n')
print(data)

                      title  year                  name     type  \
871426   North by Northwest  1959            Cary Grant    actor
3518333  North by Northwest  1959       Eva Marie Saint  actress
1457165  North by Northwest  1959           James Mason    actor
3157232  North by Northwest  1959   Jessie Royce Landis  actress
356707   North by Northwest  1959        Leo G. Carroll    actor
3048272  North by Northwest  1959  Josephine Hutchinson  actress
1695173  North by Northwest  1959           Philip Ober    actor
1275337  North by Northwest  1959         Martin Landau    actor
2447081  North by Northwest  1959         Adam Williams    actor
1811387  North by Northwest  1959          Edward Platt    actor
665768   North by Northwest  1959     Robert Ellenstein    actor
2295714  North by Northwest  1959          Les Tremayne    actor
464736   North by Northwest  1959       Philip Coolidge    actor
1508344  North by Northwest  1959         Patrick McVey    actor
206471   North by Northwest  1959          Edward Binns    actor
1384780  North by Northwest  1959             Ken Lynch    actor

                           character     n
871426            Roger O. Thornhill   1.0
3518333                  Eve Kendall   2.0
1457165              Phillip Vandamm   3.0
3157232              Clara Thornhill   4.0
356707                 The Professor   5.0
3048272                Mrs. Townsend   6.0
1695173              Lester Townsend   7.0
1275337                      Leonard   8.0
2447081                     Valerian   9.0
1811387              Victor Larrabee  10.0
665768                         Licht  11.0
2295714                   Auctioneer  12.0
464736                     Dr. Cross  13.0
1508344               Sergeant Flamm  14.0
206471                Captain Junket  15.0
1384780  Charley - Chicago Policeman  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [17]:
data=cast[cast.year == 1972][cast.title == "Sleuth"].sort_values('n')
print(data)

          title  year                name     type  \
1705394  Sleuth  1972    Laurence Olivier    actor
326773   Sleuth  1972       Michael Caine    actor
373876   Sleuth  1972      Alec Cawthorne    actor
1465483  Sleuth  1972  John (II) Matthews    actor
2724553  Sleuth  1972  Eve (III) Channing  actress
1448690  Sleuth  1972        Teddy Martin    actor

                          character    n
1705394                 Andrew Wyke  1.0
326773                  Milo Tindle  2.0
373876            Inspector Doppler  3.0
1465483  Detective Sergeant Tarrant  4.0
2724553             Marguerite Wyke  5.0
1448690      Police Constable Higgs  6.0

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [18]:
data=cast[cast.year == 2007][cast.title == "Sleuth"].sort_values('n')
print(data)

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

### How many roles were credited in the silent 1921 version of Hamlet?

In [52]:
data=len(cast[cast.year == 1921][cast.title == "Hamlet"][cast.n != 0.0])
print(data,"roles were credited in the silent 1921 version of Hamlet")

9 roles were credited in the silent 1921 version of Hamlet

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

### How many roles were credited in Branagh’s 1996 Hamlet?

In [22]:
data=cast[cast.year == 1996][cast.title == "Hamlet"].name.count()
print(data,"roles were credited in Branagh’s 1996 Hamlet")

54 roles were credited in Branagh’s 1996 Hamlet

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

### How many "Hamlet" roles have been listed in all film credits through history?

In [23]:
data=len(cast[cast.title == "Hamlet"])
print(data,"Hamlet roles have been listed in all film credits through history")

342 Hamlet roles have been listed in all film credits through history

### How many people have played an "Ophelia"?

In [25]:
data=len(cast[cast.character=="Ophelia"])
print(data," people have played an Ophelia")

117  people have played an Ophelia

### How many people have played a role called "The Dude"?

In [26]:
data=len(cast[cast.character=="The Dude"])
print(data," people have played an The Dude")

19  people have played an The Dude

### How many people have played a role called "The Stranger"?

In [27]:
data=len(cast[cast.character=="The Stranger"])
print(data," people have played an The Stranger")

212  people have played an The Stranger

### How many roles has Sidney Poitier played throughout his career?

In [53]:
data=len(cast[cast.name == "Sidney Poitier"].character)
print(data,"many roles has Sidney Poitier played throughout his career")

43 many roles has Sidney Poitier played throughout his career

### How many roles has Judi Dench played?

In [30]:
data=len(cast[cast.name == "Judi Dench"].character)
print(data,"many roles has Judi Dench played")

55 many roles has Judi Dench played

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [40]:
data=cast[(cast.name == 'Cary Grant') & (cast.n == 2)&(cast.year >= 1940)&(cast.year <= 1949)].sort_values('year')
print(data)

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [39]:
data=cast[(cast.name == 'Cary Grant') & (cast.n == 1)&(cast.year >= 1940)&(cast.year <= 1949)].sort_values('year')
print(data)

                                       title  year        name   type  \
871448               The Howards of Virginia  1940  Cary Grant  actor
871407                       His Girl Friday  1940  Cary Grant  actor
871450                The Philadelphia Story  1940  Cary Grant  actor
871438                             Suspicion  1941  Cary Grant  actor
871452                  The Talk of the Town  1942  Cary Grant  actor
871429                 Once Upon a Honeymoon  1942  Cary Grant  actor
871398                     Destination Tokyo  1943  Cary Grant  actor
871422                             Mr. Lucky  1943  Cary Grant  actor
871430                      Once Upon a Time  1944  Cary Grant  actor
871390                  Arsenic and Old Lace  1944  Cary Grant  actor
871425             None But the Lonely Heart  1944  Cary Grant  actor
871424                         Night and Day  1946  Cary Grant  actor
871427                             Notorious  1946  Cary Grant  actor
871444      The Bachelor and the Bobby-Soxer  1947  Cary Grant  actor
871445                     The Bishop's Wife  1947  Cary Grant  actor
871421  Mr. Blandings Builds His Dream House  1948  Cary Grant  actor
871402          Every Girl Should Be Married  1948  Cary Grant  actor
871411                I Was a Male War Bride  1949  Cary Grant  actor

                                   character    n
871448                           Matt Howard  1.0
871407                          Walter Burns  1.0
871450                    C. K. Dexter Haven  1.0
871438                      Johnnie Aysgarth  1.0
871452                          Leopold Dilg  1.0
871429                 Patrick 'Pat' O'Toole  1.0
871398                         Capt. Cassidy  1.0
871422  Joe Adams -posing as Joe Bascopolous  1.0
871430                           Jerry Flynn  1.0
871390                     Mortimer Brewster  1.0
871425                            Ernie Mott  1.0
871424                           Cole Porter  1.0
871427                                Devlin  1.0
871444                           Dick Nugent  1.0
871445                                Dudley  1.0
871421                         Jim Blandings  1.0
871402                     Dr. Madison Brown  1.0
871411                 Captain Henri Rochard  1.0

### How many roles were available for actors in the 1950s?

In [42]:
data=len(cast[(cast.year >= 1950)&(cast.year < 1960) & (cast.type == "actor")].type)
print(data,"many roles were available for actors in the 1950s")

157738 many roles were available for actors in the 1950s

### How many roles were available for actresses in the 1950s?

In [44]:
data=len(cast[(cast.year >= 1950)&(cast.year < 1960) & (cast.type == "actress")].type)
print(data,"many roles were available for actresses in the 1950s")

57733 many roles were available for actresses in the 1950s

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [45]:
data=len(cast[cast.n == 1][cast.year <= 1980])
print(data,"many leading roles (n=1) were available from the beginning of film history through 1980")

65140 many leading roles (n=1) were available from the beginning of film history through 1980

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

### How many non-leading roles were available through from the beginning of film history through 1980?

In [54]:
data=len(cast[cast.n != 1][cast.year <= 1980])
print(data,"many non-leading roles were available from the beginning of film history through 1980")

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

1117667 many non-leading roles were available from the beginning of film history through 1980

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [49]:
data=len(cast[cast.n.isnull()][cast.year <= 1980])
print(data)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

448347