# Assignment Day 25

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score,confusion_matrix

In [3]:
data = pd.read_csv("data/train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.info

<bound method DataFrame.info of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
884          887         0       2
885          888         1       1
886          889         0       3
887          890         1       1
888          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
884                              Montvila, Rev. Juozas    male  27.0      0
885                       Graham, Miss. Margaret Edith  female  19.0      0
886           Johnston, Miss. Catherine Helen "Carrie"  female  45.0      1
887                              Behr, Mr. Karl Howell    male  26.0      0
888                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
884      0            211536  13.0000   NaN        S
885      0            112053  30.0000   B42        S
886      2        W./C. 6607  23.4500   NaN        S
887      0            111369  30.0000  C148        C
888      0            370376   7.7500   NaN        Q

[889 rows x 12 columns]>

In [5]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [6]:
data = data.drop(columns = ['Cabin', 'PassengerId', 'Name', 'Ticket'])
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [8]:
lab = LabelEncoder()
data["Sex"] = lab.fit_transform(data["Sex"])
data["Embarked"] = lab.fit_transform(data["Embarked"])
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [15]:
def prediction(col):
    
    clf = BernoulliNB()

    for i in col:
        x = data.drop([i], axis=1)
        print("\n ---------------------- \n ")
        print(f"Here Dependent Variable is {i} & remaining are Independent Variables")
        print("x :\n", x.head())
        y = data[i]
        print("\ny:\n", y.head())
    
        x_train, x_test, y_train, y_test = train_test_split(x, y, test_size =0.3, random_state=1)
        model = clf.fit(x_train,y_train)
        pred = model.predict(x_test)
    
        print(f"\nAcuuracy for {i} is: ", accuracy_score(y_test, pred, normalize=True))
        print(f"Confusion matrix for {i} is \n", confusion_matrix(y_test, pred))
        print(f"\n Modal Acuuracy for {i} is: ", accuracy_score(y_test, pred, normalize=True)*100)

column = ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch','Embarked']        
prediction(column)

 ----------------------

Here Dependent Variable is Survived & remaining are Independent Variables
x :
    Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2

y:
 0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

Acuuracy for Survived is:  0.8202247191011236
Confusion matrix for Survived is
 [[143  23]
 [ 25  76]]

 Modal Acuuracy for Survived is:  82.02247191011236

 ----------------------

Here Dependent Variable is Pclass & remaining are Independent Variables
x :
    Survived  Sex   Age  SibSp  Parch     Fare  Embarked
0         0    1  22.0      1      0   7.2500         2
1         1    0  38.0      1      0  71.2833         0
2         1    0  26.0      0      0   7.9250         2
3         1    0  35.0      1      0  53.1000         2
4         0    1  35.0      0      0   8.0500         2

y:
 0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

Acuuracy for Pclass is:  0.5692883895131086
Confusion matrix for Pclass is
 [[ 21   9  41]
 [  4   7  42]
 [ 17   2 124]]

 Modal Acuuracy for Pclass is:  56.92883895131086

 ----------------------

Here Dependent Variable is Sex & remaining are Independent Variables
x :
    Survived  Pclass   Age  SibSp  Parch     Fare  Embarked
0         0       3  22.0      1      0   7.2500         2
1         1       1  38.0      1      0  71.2833         0
2         1       3  26.0      0      0   7.9250         2
3         1       1  35.0      1      0  53.1000         2
4         0       3  35.0      0      0   8.0500         2

y:
 0    1
1    0
2    0
3    0
4    1
Name: Sex, dtype: int32

Acuuracy for Sex is:  0.7602996254681648
Confusion matrix for Sex is
 [[ 48  49]
 [ 15 155]]

 Modal Acuuracy for Sex is:  76.02996254681648

 ----------------------

Here Dependent Variable is SibSp & remaining are Independent Variables
x :
    Survived  Pclass  Sex   Age  Parch     Fare  Embarked
0         0       3    1  22.0      0   7.2500         2
1         1       1    0  38.0      0  71.2833         0
2         1       3    0  26.0      0   7.9250         2
3         1       1    0  35.0      0  53.1000         2
4         0       3    1  35.0      0   8.0500         2

y:
 0    1
1    1
2    0
3    1
4    0
Name: SibSp, dtype: int64

Acuuracy for SibSp is:  0.6404494382022472
Confusion matrix for SibSp is
 [[154  24   0   0   0   0   0]
 [ 43  17   0   0   0   0   0]
 [  6   6   0   0   0   0   0]
 [  3   3   0   0   0   0   0]
 [  6   1   0   0   0   0   0]
 [  3   0   0   0   0   0   0]
 [  0   1   0   0   0   0   0]]

 Modal Acuuracy for SibSp is:  64.04494382022472

 ----------------------

Here Dependent Variable is Parch & remaining are Independent Variables
x :
    Survived  Pclass  Sex   Age  SibSp     Fare  Embarked
0         0       3    1  22.0      1   7.2500         2
1         1       1    0  38.0      1  71.2833         0
2         1       3    0  26.0      0   7.9250         2
3         1       1    0  35.0      1  53.1000         2
4         0       3    1  35.0      0   8.0500         2

y:
 0    0
1    0
2    0
3    0
4    0
Name: Parch, dtype: int64

Acuuracy for Parch is:  0.7191011235955056
Confusion matrix for Parch is
 [[184  17   0   0   0   0]
 [ 34   8   0   0   0   0]
 [ 19   2   0   0   0   0]
 [  1   0   0   0   0   0]
 [  1   0   0   0   0   0]
 [  1   0   0   0   0   0]]

 Modal Acuuracy for Parch is:  71.91011235955057

 ----------------------

Here Dependent Variable is Embarked & remaining are Independent Variables
x :
    Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

y:
 0    2
1    0
2    2
3    2
4    2
Name: Embarked, dtype: int32

Acuuracy for Embarked is:  0.700374531835206
Confusion matrix for Embarked is
 [[  0   0  54]
 [  0   0  26]
 [  0   0 187]]

 Modal Acuuracy for Embarked is:  70.0374531835206